extends ../_shared/_master
block body
    form(action='/auth/sign-up', method="POST")
        input.form-control(type="text" name="username" required="required" placeholder="Enter username")
        input.form-control(type="password" name="password" required="required" placeholder="Enter password")
        input.form-control(type="text" name="nickname" required="required" placeholder="Enter nickname")
        input.form-control(type="text" name="age" required="required" placeholder="Enter age")
        div.radio
            label
               input(type="radio" name="gender" value="")
               | Male
        div.radio
            label
               input(type="radio" name="gender" value="")
               |  Female
        div.radio
            label
               input(type="radio" name="gender" value="")
               | Other
        input.form-control(type="text" name="interests" required="required" placeholder="Enter interests")
        button.btn.btn-success
           | Sign Up