extends ../_shared/_master
block body
    .container
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="settings/users") 
                      | Users
            ul.nav.nav-pills
                li.nav-item
                    if user
                        a.navbar-brand(href="settings/updateProfile")
                                | updateProfile