extends ../_shared/_master
block body
    .container
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='/settings/users')
                      | Users
            ul.nav.nav-pills
                li.nav-item
                    if user
                        a.btn.btn-green(href="settings/updateProfile")
                                | updateProfile
                        a.btn.btn-red(href=`/settings/users/${user._id}`)
                                | Delete Profile 
    block scripts
      script(src="/static/js/users.js")