extends ../_shared/_master
block body
    .container
        if user
            h3#update-profile-heading
                form(action = `/settings/users/${user._id}` method = "POST")
                    div.form-group
                        label
                        | Enter Username
                        input(type="text" class="form-control" name="username" required="required" value="")
                    div.form-group
                        label
                        | Old Password: 
                        input(type="password" class="form-control" name="oldPassword" required="required" value="")
                    div.form-group
                        label
                        | New Password: 
                        input(type="password" class="form-control" name="password" required="required" value="")
                    div.form-group
                        label
                        | Confirm Password: 
                        input(type="password" class="form-control" name="ConfPassword" required="required" value="")
                    div.form-group
                        label
                        | Update Nickname:
                        input(type="text" class="form-control" name="nickname" value="")
                    div.form-group
                        label
                        | Update Age:
                        input(type="text" class="form-control" name="age" value="")
                    div.form-group
                        label
                        | Update Gender:
                        input(type="text" class="form-control" name="gender" value="")
                    div.form-group
                        label
                        | Update interests:
                        input(type="text" class="form-control" name="interests" value="")
                        input(type="submit" class="btn btn-default" value="Submit")