include _nav

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Online Marketplace
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/main.css")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    script(src='/libs/jquery/dist/jquery.js')
    block head
body
    +nav()
    != toasts
    .container
        block body