<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    block head
body
    .container
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="/") Marketplace System
            ul.nav.nav-pills
                li.nav-item
                    if user
                        a.nav-link.h4(href='#')
                            =user.username
                            form(action="/auth/sign-out" method="post")
                                button.nav-btn
                                   | sign-out
                    else
                        a.nav-link.h4(href='#')
                            | User
                            a.h5(href="/auth/sign-up")
                                | Sign Up
                            a.h5(href="/auth/sign-in")
                                | Sign In
                li.nav-item
                    a.nav-link.h4(href='adverts') Adverts
    block body