//- extends ../_shared/_master
//- block body
//-     .container
//-         h1
//-             | Ads
//-         each ad in model
//-             ul
//-                 li= 'Num ' + ad.num
//-                 li= 'Name: ' + ad.name
//-                 li= 'Town: ' + ad.town
//-                 li= 'Category: ' + ad.category
//-                 li= 'Description: ' + ad.description