extends ../_shared/_master
block body
    .container
        if user
            h3
                form(action = "/adverts/ads/" method = "post")
                    | Create/Update by number
                    h4
                        | Num: 
                        input(type="text" name="num" value="")
                        | Name: 
                        input(type="text" name="name" value="")
                        | Town: 
                        input(type="text" name="town" value="")
                        | Category: 
                        input(type="text" name="category" value="")
                        | Description: 
                        input(type="text" name="description" value="")
                        data(name="owner" value=user)
                    input(type="submit", value="Submit")