extends ../_shared/_master
block body
    .container
        h3
            form(action = "/adverts/ads/" method = "post")
                | Create/Update by number
                h4
                    | Num: 
                    input(type="text" name="num" value="")
                    | Name: 
                    input(type="text" name="name" value="")
                    | Town: 
                    input(type="text" name="town" value="")
                    | Category: 
                    input(type="text" name="category" value="")
                    | Description: 
                    input(type="text" name="description" value="")
                input(type="submit", value="Submit")
        h3
            form(action = "/adverts/ads/" method = "get")
                | Search
                h4
                    | Num: 
                    input(type="text" name="num" value="")
                    | Name: 
                    input(type="text" name="name" value="")
                    | Town: 
                    input(type="text" name="town" value="")
                    | Category: 
                    input(type="text" name="category" value="")
                input(type="submit", value="Submit")
            