extends ../_shared/_master
block body
    .container
        h3.col-xs-6
            form(action = "/adverts/ads" method = "get")
                | Search Ads
                div.h4
                    div= 'Num: '
                    input(type="text" name="num" value="")
                    div= 'Name: '
                    input(type="text" name="name" value="")
                    div= 'Town: '
                    input(type="text" name="town" value="")
                    div= 'Category: '
                    input(type="text" name="category" value="")
                input(type="submit", value="Search")